@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
.newspaper-container{
    width: 700px;
}
a:link {
    color: red;
  }
  
li {
    color: dimgray;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    
}
h5{
    color: red;
}
body{
    background-color: #eee;
}
.date{
    color: #777;
}
h1{
    text-align: center;
    font-family: Abril Fatface;
    font-weight: bolder ;
}
ul{
    color: dimgray;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #777;
    padding: .5em;
    text-align: center;
    
}
